<% provide(:title, "About") %>

<h1>About</h1>
<p>
  <strong>Flirt Camp</strong> is a community of folks dedicated to having amazing relationships and Burning Man. We are centered in San Francisco, CA.
</p>
