<h1>Ruby on Rails Tutorial Sample App</h1>
<p>
	This is the sample app for <%= link_to "Michael Hartel's Ruby on Rails Sample App, 3rd Edition", 'http://www.railstutorial.org/' %>
</p>
<p>
	Specifcs of this demo:
	<ul>
		<li>Rail 4.2.0</li>
		<li>PostgreSQL</li>
		<li>Git version control</li>
		<li>Deployed to Heroku</li>
	</ul>
</p>

<p>
	<h2>Notes:</h2>
	<%= render 'ch3' %>
	<%= render 'ch4' %>


</p>
