<% provide(:title, "New Member App")%>

<h1>New Member App</h1>
<h1><small>Become a Flirt Camp member.</small></h1>


<h1>Welcome!</h1>
<p>Thank you for your interest in being a part of Flirt Camp!  This application is for folks that have never camped with Flirt Camp before.  Whether you were invited through a Flirt Camp veteran or really liked our vibe at a Flirt Camp meetup or party, this application will allow us to meet the virtual you, give you info on who we are and most importantly, help you determine if Flirt Camp is a fit for you!
<br>
Can't wait to hear from you!
<br>
<strong>~Camp Master</strong></p>

<br>
<%= render 'shared/flirtcamp_properties' %>
<br>

<hr>

<h3>A little about Flirt Camp</h3>
<p>Flirt Camp is a community based in SF, with members from all over CA, OR, CO and NY, who are committed to having amazing relationships.  And how do you have an amazing relationship?  By FLIRTING!</p>

<p>Flirting keeps that turned-on chemistry fresh in a relationship, and is a huge part of picking someone up.  Also, we are committed to a pleasure-oriented sex life, and feeling fully in our bodies.  These are our core values as a community and we welcome any one who feels aligned with these values.</p>

<p>Our main focus on the Playa and here at home, is to create safe spaces through fun workshops and events where others can play, learn and have fun with that soulful energy of pickup and flirting.  Our camp is not a sex camp or poly camp.  Though, on occasion, we will have demonstrations and workshops of extended orgasm and sensual, pleasure-oriented sex (no intercourse involved).</p>

<p>Flirt Camp has existed since Burning Man 2012.  We are nearing our fourth year as a Burning Man Theme Camp in 2015.  We have a 40 ft X 40 ft shade structure for the Playa.  The front half is a chill area, complete with lots of Playa Furniture, pillows and tables.  At our bar, visitors roll our Flirt Dice or spin the Flirt Wheel and carry out the "Flirt" in order to get a tasty Flirtini or Sex on the Playa.  Dance parties, various workshops and meditations happen throughout the week.  On top of our BM storage container, we are planning a "Cloud Lounge" to chill on top of and enjoy the view.</p>

<p>The back half of our shade structure is a communal dining area and kitchen for our camp members.  Our own Mad Hatter and Pretty Pretty organizes a daily gourmet Playa meal for all to partake in at a set time each day.  It is a great way to connect and get ready for the evening's festivities.</p>

<p>We are planning to host about 40 campers this year.  We have a lot of hexa-yurts in our camp, and sometimes they are available to use in exchange for paying the storage costs for the following year.</p>

<p>We have some pics on the Flirt Camp Facebook page where you can check us out at:
http://www.facebook.com/FlirtCampSF</p>

<hr>

<h3>Expectations</h3>
<p>Camping with Flirt Camp means being grounded and open, and being great with people to allow them to feel open also.  We want to perpetuate that openness and give others the opportunity to reach beyond their comfort zones in relationships and flirting with others. Being good at guiding others to breach that comfort zone is a plus (teasing, feeling where they are at emotionally, etc.)</p>

<br>
<h4>Promotion:</h4>
<p>Like Flirt Camp SF on Facebook and become a member on MeetUp.  We encourage you to invite others to join our community online.</p>

<br>
<h4>1. Camp Dues:</h4>
<p>Flirt Camp is implementing dues this year to help cover our camp costs.  Dues will be expected to be paid by August 1.  The camp dues are a sliding scale of what you can afford.  $100 is the minimum amount due, but the more you can contribute, the better prepared and more amazing experience we can afford to bring to the Playa.  Any camp funds that are not utilized for Burning Man will be used to create amazing events and parties off the Playa.  Your camp dues cover gourmet Playa dinners every evening during the week (dietary restrictions are taken into account), access to help with logistics coming and going to BM, plus all of the infrastructure that Flirt Camp provides including the shaded and furniture-adorned hookah lounge, a well-stocked bar, kitchen & cooking supplies, and transportation for everything.  We are also planning our very own stunning Porta-Pottie and 500 gallon water potable water cistern.  If you cannot afford the minimum due, please contact Camp Master at campmaster@flirtcampsf.com to work out a payment arrangement.</p>

<br>
<h4>2. At Burning Man:</h4>
<p>We will be organizing "Flirt Factions", smaller groups of camp members that will be responsible for various tasks throughout the week.  Tasks include dish washing, ice runs, refuse management, straightening up, among others.  Your group will be called upon each day to handle one task a day.  A schedule will be posted with tasks and days.  Also, when you leave BM, a MOOP sweep around the camp will be asked of you.  If you are staying to the end of the event, your help in packing up the camp is GREATLY appreciated.  It takes a lot of work to setup and maintain a Theme Camp, but with the amazing group of people we have all contributing, not only is it manageable but it is often fun!</p>

<br>
<h4>3. Flirt Camp Operations (on-Playa):</h4>
<p>We will have an orientation at camp early in the week with bar rules, games to play, where things are, etc.  If you are arriving later in the week, Camp Master will do a quick run-through with you.</p>

<br>
<h4>4. Off-Playa Participation:</h4>
<p>Off the Playa, we have camp potlucks and catch-up sessions throughout the year.  You will be included on all camp emails once you are a member, informing you of these events.  We also have a couple fundraisers that everyone will have the opportunity to contribute to.  We can't have these amazing fundraisers without the help of all of our camp members.  The more we can raise, the better our camp can be, and the more perks we can offer to our camp members!  It's so exciting!</p>

<hr>
<%= link_to "Contine Membership Applicaiton", new_membership_application_path, class: "btn btn-primary btn-lg" %>