<% provide(:title, "Log In") %>

<h1>Log In</h1>



<div class="row">
	<div class="col-md-offset-3 col-md-6">

		<% if params[:reset_account_activation] %>
			<%= render 'account_activations/reset' %>
		<% end %>

		<%= render 'form' %>

		<br>
		<p><%= link_to "Forgot password?", new_password_reset_path %></p>
		<!-- <p>Don't have an account yet? <%#= link_to "Create one now!", signup_path %></p> -->

	</div>
</div>
