<h3>I will NOT be attending <%= @next_event.year %>.<br>
<small>I will be selling my secured tickets.</small></h3>


<hr>

<h3>Tickets:</h3>
<p>Ticket qty for sale?: <%= user.next_event_intention.tickets_for_sale %></p>