<% if user.next_event_intention.going_has_ticket? %>
  <h3>I will be attending <%= @next_event.year %> with Flirt Camp.<br>
  <small>I have secured tickets.</small></h3>

<% elsif user.next_event_intention.going_needs_ticket? %>
  <h3>I will be attending <%= @next_event.year %> with Flirt Camp.<br>
  <small>I have NOT secured tickets.</small></h3>

<% elsif user.next_event_intention.not_going_has_ticket? || user.next_event_intention.not_going_no_ticket? %>
  <h3>I will NOT be attending <%= @next_event.year %> with Flirt Camp.</h3>

<% end %>