<h1><%= @event.year %></h1>
<h1><small>For <%= @intention.user.name %></small></h1>

<% if admin_user? %>
  <h3>ADMIN</h3>
<% end %>

<!-- <div class="row">
  <div class="col-md-8 col-md-offset-2"> -->


    <%= render 'form' %>

<!--   </div>
</div> -->