<h1><%= @event.year %></h1>
<h1>
  <small>For <%= @intention.user.name %></small>

  <% if admin_user? %>
    <br>ADMIN
  <% end %>

</h1>


<!--
<div class="row">
  <div class="col-md-8 col-md-offset-2"> -->


    <%= render 'form' %>

<!--   </div>
</div> -->