<h1>Flirt Camp App</h1>

<strong>Greetings, <%= @user.name %>!</strong>

<p><%= link_to "Click here to activate your profile.", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>