<h4>Chapter 4</h4>
<ul>
	<li>setup irb:</li>
	<ul>
		<li>fill a file called .irbrc in the home directory</li>
		<li>IRB.conf[:PROMPT_MODE] = :SIMPLE (simplify irb prompt)</li>
		<li>IRB.conf[:AUTO_INDENT_MODE] = false (suppress some annoying auto-indent)</li>
	</ul>

	<li>'Single quoted string will not interperet code'</li>
	<li>"Double quoted string will interperet code"</li>
	<li>require './example_user'     # This is how you load the example_user code.</li>

</ul>