<h4>Chapter 5</h4>
<ul>
	<li>
		HTML5 shim for non supporting browsers <%= link_to "More info on Git...", "https://github.com/aFarkas/html5shiv" %><br>
		<xmp>
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
		</script>
		<![endif]--></xmp><br>
		

	</li>
	<li>Integration Tests: <mark>rails g integration_test some_test_name</mark></li>
	<li>Rails generator automatically appends _test to the name of the test file</li>

</ul>