<span><a href="http://facebook.com/flirtcampsf", target="_blank">Flirt Camp SF on Facebook...</a></span><br>
<span><a href="http://meetup.com/flirtcampsf", target="_blank">Flirt Camp SF on Meetup...</a></span><br>
<span><%= mail_to "flirtcampsf@gmail.com", "Email Flirt Camp SF" %></span>