<div class="well well-lg">
  <h4>Payment Options</h4>
  <ol>
    <li>PayPal <strong><%= @next_event.camp_dues_paypal %></strong> as a "Freinds and Family" transfer</li>
    <li>Mail check to <%= @next_event.organizer.name %>, <%= @next_event.camp_dues_mail %></li>
    <li>Cash - In Person</li>
  </ol>
</div>