<div class="well well-lg">
	<h4>Payment Options</h4>
	<ol>
		<li>PayPal to <strong>becker1701@gmail.com</strong> as a "Family or Friends" payment</li>
		<li>Check made out to Brian Becker and mail to 330 Scott St #2, San Francisco, CA.  94117</li>
		<li>Cash</li>
	</ol>	
</div>