<h3>Howdy <%= display_name(@membership_app) %></h3>

<h3>Your Flirt Camp application has been declined.</h3>

<p>There may be a few reasons why, including camp size, your answers and how we think you would fit, etc.</p>

<p>If you have any questions, please drop me a message.<br>
<em><strong>~Camp Master</strong></em></p>

<%= render partial: 'shared/flirtcamp_properties' %>